body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    display: none;
}

.flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

.fd-row {
    flex-direction: row;
}

.fd-col {
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E7E9FC;
}

.header__nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

    display: flex;
    margin-right: 76px;
}

.logo .accent-dark {
    color: #2e2f42;
}

.logo .accent-light {
    color: #f4f4fd;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list__item {}

.nav-list__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    display: block;
    padding: 24px 0;
}

.nav-list__link:hover,
.nav-list__link:focus {
    color: #404bbf;
}

.header__contacts {
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-list__item {}

.contacts-list__link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-list__link:hover,
.contacts-list__link:focus {
    color: #404bbf;
}

.intro {
    background-color: #2e2f42;
    padding: 188px 0;
}

.intro__title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

    max-width: 496px;
}

.intro__button {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    margin-top: 48px;
}

.intro__button:hover,
.intro__button:focus {
    background-color: #404BBF;
    cursor: pointer;
}


.features {
    padding: 120px 0;
}

.features__title {}

.features__list {
    display: flex;
    gap: 24px;
}

.features-item {
    flex-basis: calc((100% - 72px) / 4);
}

.features-item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}

.features-item__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
}

.team__title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team__list {}

.team-member {
    background-color: #ffffff;

}

.team-member__photo {}

.team-member__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-member__profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {}

.portfolio__title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio__list {}

.portfolio-item {}

.portfolio-item__photo {}

.portfolio-item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.logo-light {
    color: #f4f4fd;
}

.footer__text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}